<!DOCTYPE html>
<html lang="en"  class="html-home-page">
    <head>
        <title>Do-Cut Sales &amp; Service - Outdoor Power Equipment. Do-Cut&#x27;s Power Equipment Warehouse</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="description" content="Huge selection of brand name outdoor power equipment more! Shop online or in store now for great savings!" />
        <meta name="keywords" content="Toro, Toro mowers, Toro lawnmowers, riding mowers, riding lawn mowers, zero turn mowers, tractors, push mowers, walk behind mowers" />
        <meta name="generator" content="nopCommerce" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        
        



    	<script data-fixedscript="1">
window.dataLayer = window.dataLayer || [];
window.GEE_productImpressions = window.GEE_productImpressions || [];
window.GEE_productDelails = window.GEE_productDelails || [];
window.GEE_cartproducts = window.GEE_cartproducts || [];
window.GEE_wishlistproducts = window.GEE_wishlistproducts || [];
</script>
<script type="text/javascript" data-fixedscript="1" src="/plugins/foxnetsoft.googleenhancedecommerce/scripts/googleeehelper.js"></script>
<script data-fixedscript="1">
GoogleEEHelper.Init('USD', false);
GoogleEEHelper.ProductImpressions(GEE_productImpressions);
</script>
<meta name="msvalidate.01" content="39C6C4D296854F9CBE347D3DEDEC1F3E" />
 <meta name="google-site-verification" content="8r-bUHpaKtuhGjOs17XW7dAN53sukuXnx2p828TcuDU" />
<!-- Actionable Insights - Oribi -->
<script type="application/javascript"> (function(b, o, n, g, s, r, c) { if (b[s]) return; b[s] = { }; b[s].scriptToken = "Xy0xNDAyNjI4ODk3"; r = o.createElement(n); c = o.getElementsByTagName(n)[0]; r.async = 1; r.src = g; r.id = s + n; c.parentNode.insertBefore(r, c); })(window, document, "script", "//cdn.oribi.io/Xy0xNDAyNjI4ODk3/oribi.js", "ORIBI"); </script>
<!-- End Oribi -->
<!-- Google code for Analytics tracking -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-63963401-1']);
_gaq.push(['_trackPageview']);


(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

		


        <link href="/Themes/Traction/Content/css/styles.css" rel="stylesheet" type="text/css" />
<link href="/Themes/Traction/Content/css/tables.css" rel="stylesheet" type="text/css" />
<link href="/Themes/Traction/Content/css/mobile-only.css" rel="stylesheet" type="text/css" />
<link href="/Themes/Traction/Content/css/480.css" rel="stylesheet" type="text/css" />
<link href="/Themes/Traction/Content/css/768.css" rel="stylesheet" type="text/css" />
<link href="/Themes/Traction/Content/css/980.css" rel="stylesheet" type="text/css" />
<link href="/Themes/Traction/Content/css/1280.css" rel="stylesheet" type="text/css" />
<link href="/Plugins/SevenSpikes.Core/Styles/perfect-scrollbar.min.css" rel="stylesheet" type="text/css" />
<link href="/Plugins/SevenSpikes.Nop.Plugins.AnywhereSliders/Styles/nivo/nivo-slider.css" rel="stylesheet" type="text/css" />
<link href="/Plugins/SevenSpikes.Nop.Plugins.AnywhereSliders/Themes/Traction/Content/nivo/nivo.css" rel="stylesheet" type="text/css" />
<link href="/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Themes/Traction/Content/MegaMenu.css" rel="stylesheet" type="text/css" />
<link href="/Plugins/SevenSpikes.Nop.Plugins.ProductRibbons/Styles/Ribbons.common.css" rel="stylesheet" type="text/css" />
<link href="/Plugins/SevenSpikes.Nop.Plugins.ProductRibbons/Themes/Traction/Content/Ribbons.css" rel="stylesheet" type="text/css" />
<link href="/Plugins/SevenSpikes.Nop.Plugins.QuickView/Themes/Traction/Content/QuickView.css" rel="stylesheet" type="text/css" />
<link href="/lib/fineuploader/fine-uploader.min.css" rel="stylesheet" type="text/css" />
<link href="/Themes/Traction/Content/css/theme.custom-2.css?v=0" rel="stylesheet" type="text/css" />

        <script src="/lib/jquery/jquery-3.3.1.min.js"></script>

        
        
        
        <link rel="shortcut icon" href="https://www.docut.com/favicon.ico" />
        
    	<!--Powered by nopCommerce - https://www.nopCommerce.com-->
    </head>
	<body class="notAndroid23">
        




<div class="ajax-loading-block-window" style="display: none">
</div>
<div id="dialog-notifications-success" title="Notification" style="display:none;">
</div>
<div id="dialog-notifications-error" title="Error" style="display:none;">
</div>
<div id="dialog-notifications-warning" title="Warning" style="display:none;">
</div>
<div id="bar-notification" class="bar-notification">
    <span class="close" title="Close">&nbsp;</span>
</div>



<!--[if lte IE 8]>
    <div style="clear:both;height:59px;text-align:center;position:relative;">
        <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank">
            <img src="/Themes/Traction/Content/img/ie_warning.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
<![endif]-->




<div class="master-wrapper-page home home-slider">
    
    <div class="header">
    
            <div class="topic-html-content-title" style="height: 32px;">
                <h2 class="topic-html-content-header" style="width:50%; float: left; font-size: 24px; line-height: 28px;">Warren: (330) 369-2345</h2><h2 class="topic-html-content-header" style="width:50%; float: left; font-size: 24px; line-height: 24px; text-align: right;">Canfield: (330) 953-3423</h2>
            </div>

    
</div>

    <div class="overlayOffCanvas"></div>
    <div class="responsive-nav-wrapper-parent">
        <div class="responsive-nav-wrapper">
            <div class="responsive-nav-inner">
                        <div class="menu-title">
                            <span>Menu</span>
                        </div>
            </div>
        </div>
    </div>

    <div class="subheader-wrapper">
        <div class="logo-wrapper">
            <div class="header-logo">
                


<a href="/" class="logo">


<img alt="Do-Cut Sales and Service" title="Do-Cut Sales and Service" src="https://www.docut.com/images/thumbs/0014028.png" /></a>
            </div>
        </div>
        <!-- Q5 Added-->
        <div class="mobile-phone-wrapper">
                    <a href="tel:13303692345" class="" title="Warren"><span> Warren: 330-369-2345 </span></a><br />
                    <a href="tel:13309533423" class="" title="Canfield"><span> Canfield: 330-953-3423 </span></a><br />

        </div>

        <div class="justAFixingDivBefore"></div>
        <div class="headerMenuParent">
            <div class="header-menu">
                <div class="close-menu">
                    <span>Close</span>
                </div>
                



    <ul class="mega-menu"
        data-isRtlEnabled="false"
        data-enableClickForDropDown="false">



<li class=" has-sublist">

    <a href="#" class="with-subcategories" title="Products" ><span> Products</span></a>

        <div class="plus-button"></div>
        <div class="sublist-wrap">
            <ul class="sublist">
                <li class="back-button">
                    <span>Back</span>
                </li>



<li class=" ">

    <a href="/mowing-equipment" class="" title="Mowing Equipment" ><span> Mowing Equipment</span></a>

</li>




<li class=" ">

    <a href="/trimmers-and-brushcutters" class="" title="Trimmers &amp; Brushcutters" ><span> Trimmers &amp; Brushcutters</span></a>

</li>




<li class=" ">

    <a href="/battery-powered-equipment-2" class="" title="Battery Powered Equipment" ><span> Battery Powered Equipment</span></a>

</li>




<li class=" ">

    <a href="/debris-blowers-and-vacs" class="" title="Debris Blowers &amp; Vacs" ><span> Debris Blowers &amp; Vacs</span></a>

</li>




<li class=" ">

    <a href="/cultivators-and-tillers" class="" title="Cultivators &amp; Tillers" ><span> Cultivators &amp; Tillers</span></a>

</li>




<li class=" ">

    <a href="/chainsaws-cut-off-saws-pole-pruners" class="" title="Chainsaws, Cut-Off Saws, Pole Pruners" ><span> Chainsaws, Cut-Off Saws, Pole Pruners</span></a>

</li>




<li class=" ">

    <a href="/generators-and-pumps" class="" title="Generators &amp; Pumps" ><span> Generators &amp; Pumps</span></a>

</li>




<li class=" ">

    <a href="/edgers-2" class="" title="Edgers" ><span> Edgers</span></a>

</li>




<li class=" ">

    <a href="/hedge-trimmers-2" class="" title="Hedge Trimmers" ><span> Hedge Trimmers</span></a>

</li>




<li class=" ">

    <a href="/pressure-washers-2" class="" title="Pressure Washers" ><span> Pressure Washers</span></a>

</li>




<li class=" ">

    <a href="/spreaders-and-sprayers" class="" title="Spreaders &amp; Sprayers" ><span> Spreaders &amp; Sprayers</span></a>

</li>




<li class=" ">

    <a href="/snowblowers" class="" title="Snowblowers" ><span> Snowblowers</span></a>

</li>




<li class=" ">

    <a href="/safety-apparel-2" class="" title="Safety Apparel" ><span> Safety Apparel</span></a>

</li>




<li class=" ">

    <a href="/commercial-turf-equipment" class="" title="Commercial Turf Equipment" ><span> Commercial Turf Equipment</span></a>

</li>




<li class=" ">

    <a href="/tune-up-kits-oils-lubricants-fuel-additives" class="" title="Tune Up Kits, Oils, Lubricants &amp; Fuel Additives" ><span> Tune Up Kits, Oils, Lubricants &amp; Fuel Additives</span></a>

</li>

            </ul>
        </div>
</li>




<li class=" ">

    <a href="/our-brands" class="" title="Our Brands" ><span> Our Brands</span></a>

</li>




<li class=" has-sublist">

    <a href="#" class="with-subcategories" title="Parts" ><span> Parts</span></a>

        <div class="plus-button"></div>
        <div class="sublist-wrap">
            <ul class="sublist">
                <li class="back-button">
                    <span>Back</span>
                </li>



<li class=" ">

    <a href="/parts-spring-summer-equipment" class="" title="Parts - Spring/Summer Equipment" ><span> Parts - Spring/Summer Equipment</span></a>

</li>




<li class=" ">

    <a href="/parts-fall-equipment" class="" title="Parts - Fall Equipment" ><span> Parts - Fall Equipment</span></a>

</li>




<li class=" ">

    <a href="/parts-winter-equipment" class="" title="Parts - Winter Equipment" ><span> Parts - Winter Equipment</span></a>

</li>




<li class=" ">

    <a href="https://www.powerequipmentwarehouse.com/parts-lookup" class="" title="Parts Lookup"  target="_blank" ><span> Parts Lookup</span></a>

</li>

            </ul>
        </div>
</li>




<li class=" ">

    <a href="/service" class="" title="Service" ><span> Service</span></a>

</li>




<li class=" has-sublist">

    <a href="#" class="with-subcategories" title="Locations" ><span> Locations</span></a>

        <div class="plus-button"></div>
        <div class="sublist-wrap">
            <ul class="sublist">
                <li class="back-button">
                    <span>Back</span>
                </li>



<li class=" ">

    <a href="/do-cut-canfield" class="" title="Do-Cut Canfield" ><span> Do-Cut Canfield</span></a>

</li>




<li class=" ">

    <a href="/do-cut-warren" class="" title="Do-Cut Warren" ><span> Do-Cut Warren</span></a>

</li>

            </ul>
        </div>
</li>




<li class=" has-sublist">

    <a href="#" class="with-subcategories" title="Customer Center" ><span> Customer Center</span></a>

        <div class="plus-button"></div>
        <div class="sublist-wrap">
            <ul class="sublist">
                <li class="back-button">
                    <span>Back</span>
                </li>



<li class=" ">

    <a href="/contactus" class="" title="Contact Us" ><span> Contact Us</span></a>

</li>




<li class=" ">

    <a href="/pickup-and-delivery" class="" title="Pickup &amp; Delivery" ><span> Pickup &amp; Delivery</span></a>

</li>




<li class=" ">

    <a href="/extended-warranty" class="" title="Extended Warranty" ><span> Extended Warranty</span></a>

</li>




<li class=" ">

    <a href="/financing-2" class="" title="Financing" ><span> Financing</span></a>

</li>




<li class=" ">

    <a href="/sitemap" class="" title="Sitemap" ><span> Sitemap</span></a>

</li>

            </ul>
        </div>
</li>




<li class=" ">

    <a href="/financing-2" class="" title="Financing" ><span> Financing</span></a>

</li>




<li class=" ">

    <a href="/specials-2" class="" title="Specials" ><span> Specials</span></a>

</li>




<li class=" ">

    <a href="/weathe-tech" class="" title="Weather Tech" ><span> Weather Tech</span></a>

</li>




<li class=" ">

    <a href="/" class="" title="Home" ><span> Home</span></a>

</li>


        
    </ul>
    <div class="menu-title"><span>Menu</span></div>
    <ul class="mega-menu-responsive">



<li class=" has-sublist">

    <a href="#" class="with-subcategories" title="Products" ><span> Products</span></a>

        <div class="plus-button"></div>
        <div class="sublist-wrap">
            <ul class="sublist">
                <li class="back-button">
                    <span>Back</span>
                </li>



<li class=" ">

    <a href="/mowing-equipment" class="" title="Mowing Equipment" ><span> Mowing Equipment</span></a>

</li>




<li class=" ">

    <a href="/trimmers-and-brushcutters" class="" title="Trimmers &amp; Brushcutters" ><span> Trimmers &amp; Brushcutters</span></a>

</li>




<li class=" ">

    <a href="/battery-powered-equipment-2" class="" title="Battery Powered Equipment" ><span> Battery Powered Equipment</span></a>

</li>




<li class=" ">

    <a href="/debris-blowers-and-vacs" class="" title="Debris Blowers &amp; Vacs" ><span> Debris Blowers &amp; Vacs</span></a>

</li>




<li class=" ">

    <a href="/cultivators-and-tillers" class="" title="Cultivators &amp; Tillers" ><span> Cultivators &amp; Tillers</span></a>

</li>




<li class=" ">

    <a href="/chainsaws-cut-off-saws-pole-pruners" class="" title="Chainsaws, Cut-Off Saws, Pole Pruners" ><span> Chainsaws, Cut-Off Saws, Pole Pruners</span></a>

</li>




<li class=" ">

    <a href="/generators-and-pumps" class="" title="Generators &amp; Pumps" ><span> Generators &amp; Pumps</span></a>

</li>




<li class=" ">

    <a href="/edgers-2" class="" title="Edgers" ><span> Edgers</span></a>

</li>




<li class=" ">

    <a href="/hedge-trimmers-2" class="" title="Hedge Trimmers" ><span> Hedge Trimmers</span></a>

</li>




<li class=" ">

    <a href="/pressure-washers-2" class="" title="Pressure Washers" ><span> Pressure Washers</span></a>

</li>




<li class=" ">

    <a href="/spreaders-and-sprayers" class="" title="Spreaders &amp; Sprayers" ><span> Spreaders &amp; Sprayers</span></a>

</li>




<li class=" ">

    <a href="/snowblowers" class="" title="Snowblowers" ><span> Snowblowers</span></a>

</li>




<li class=" ">

    <a href="/safety-apparel-2" class="" title="Safety Apparel" ><span> Safety Apparel</span></a>

</li>




<li class=" ">

    <a href="/commercial-turf-equipment" class="" title="Commercial Turf Equipment" ><span> Commercial Turf Equipment</span></a>

</li>




<li class=" ">

    <a href="/tune-up-kits-oils-lubricants-fuel-additives" class="" title="Tune Up Kits, Oils, Lubricants &amp; Fuel Additives" ><span> Tune Up Kits, Oils, Lubricants &amp; Fuel Additives</span></a>

</li>

            </ul>
        </div>
</li>




<li class=" ">

    <a href="/our-brands" class="" title="Our Brands" ><span> Our Brands</span></a>

</li>




<li class=" has-sublist">

    <a href="#" class="with-subcategories" title="Parts" ><span> Parts</span></a>

        <div class="plus-button"></div>
        <div class="sublist-wrap">
            <ul class="sublist">
                <li class="back-button">
                    <span>Back</span>
                </li>



<li class=" ">

    <a href="/parts-spring-summer-equipment" class="" title="Parts - Spring/Summer Equipment" ><span> Parts - Spring/Summer Equipment</span></a>

</li>




<li class=" ">

    <a href="/parts-fall-equipment" class="" title="Parts - Fall Equipment" ><span> Parts - Fall Equipment</span></a>

</li>




<li class=" ">

    <a href="/parts-winter-equipment" class="" title="Parts - Winter Equipment" ><span> Parts - Winter Equipment</span></a>

</li>




<li class=" ">

    <a href="https://www.powerequipmentwarehouse.com/parts-lookup" class="" title="Parts Lookup"  target="_blank" ><span> Parts Lookup</span></a>

</li>

            </ul>
        </div>
</li>




<li class=" ">

    <a href="/service" class="" title="Service" ><span> Service</span></a>

</li>




<li class=" has-sublist">

    <a href="#" class="with-subcategories" title="Locations" ><span> Locations</span></a>

        <div class="plus-button"></div>
        <div class="sublist-wrap">
            <ul class="sublist">
                <li class="back-button">
                    <span>Back</span>
                </li>



<li class=" ">

    <a href="/do-cut-canfield" class="" title="Do-Cut Canfield" ><span> Do-Cut Canfield</span></a>

</li>




<li class=" ">

    <a href="/do-cut-warren" class="" title="Do-Cut Warren" ><span> Do-Cut Warren</span></a>

</li>

            </ul>
        </div>
</li>




<li class=" has-sublist">

    <a href="#" class="with-subcategories" title="Customer Center" ><span> Customer Center</span></a>

        <div class="plus-button"></div>
        <div class="sublist-wrap">
            <ul class="sublist">
                <li class="back-button">
                    <span>Back</span>
                </li>



<li class=" ">

    <a href="/contactus" class="" title="Contact Us" ><span> Contact Us</span></a>

</li>




<li class=" ">

    <a href="/pickup-and-delivery" class="" title="Pickup &amp; Delivery" ><span> Pickup &amp; Delivery</span></a>

</li>




<li class=" ">

    <a href="/extended-warranty" class="" title="Extended Warranty" ><span> Extended Warranty</span></a>

</li>




<li class=" ">

    <a href="/financing-2" class="" title="Financing" ><span> Financing</span></a>

</li>




<li class=" ">

    <a href="/sitemap" class="" title="Sitemap" ><span> Sitemap</span></a>

</li>

            </ul>
        </div>
</li>




<li class=" ">

    <a href="/financing-2" class="" title="Financing" ><span> Financing</span></a>

</li>




<li class=" ">

    <a href="/specials-2" class="" title="Specials" ><span> Specials</span></a>

</li>




<li class=" ">

    <a href="/weathe-tech" class="" title="Weather Tech" ><span> Weather Tech</span></a>

</li>




<li class=" ">

    <a href="/" class="" title="Home" ><span> Home</span></a>

</li>


        
    </ul>
            </div>
        </div>
    </div>

    



<div class="slider-wrapper anywhere-sliders-nivo-slider theme- no-captions"
     data-imagesCount="5"
     data-sliderHtmlElementId="WidgetSlider-home_page_main_slider-2"
     data-imagesString="&lt;a href=&quot;https://www.docut.com/husvarna-fleet-page&quot; title=&quot;&quot;&gt;&lt;img src=&quot;https://www.docut.com/images/thumbs/0021603.jpeg&quot; data-thumb=&quot;https://www.docut.com/images/thumbs/0021603.jpeg&quot; alt=&quot;slider image&quot; /&gt;&lt;/a&gt;&lt;img src=&quot;https://www.docut.com/images/thumbs/0018114.jpeg&quot; data-thumb=&quot;https://www.docut.com/images/thumbs/0018114.jpeg&quot; alt=&quot;slider image&quot; title=&quot;&quot; /&gt;&lt;a href=&quot;https://www.powerequipmentwarehouse.com/honda-equipment&quot; title=&quot;&quot;&gt;&lt;img src=&quot;https://www.docut.com/images/thumbs/0018198.jpeg&quot; data-thumb=&quot;https://www.docut.com/images/thumbs/0018198.jpeg&quot; alt=&quot;slider image&quot; /&gt;&lt;/a&gt;&lt;a href=&quot;https://www.powerequipmentwarehouse.com/toro&quot; title=&quot;&quot;&gt;&lt;img src=&quot;https://www.docut.com/images/thumbs/0018199.jpeg&quot; data-thumb=&quot;https://www.docut.com/images/thumbs/0018199.jpeg&quot; alt=&quot;slider image&quot; /&gt;&lt;/a&gt;&lt;a href=&quot;https://www.powerequipmentwarehouse.com/husqvarna-equipment&quot; title=&quot;&quot;&gt;&lt;img src=&quot;https://www.docut.com/images/thumbs/0018200.jpeg&quot; data-thumb=&quot;https://www.docut.com/images/thumbs/0018200.jpeg&quot; alt=&quot;slider image&quot; /&gt;&lt;/a&gt;"
     data-effect="sliceDown"
     data-slices="0"
     data-boxCols="0"
     data-boxRows="0"
     data-animSpeed="3000"
     data-pauseTime="5000"
     data-directionNav="true"
     data-controlNav="true"
     data-controlNavThumbs="false"
     data-pauseOnHover="false"
     data-prevText=""
     data-nextText="">

         <div id="WidgetSlider-home_page_main_slider-2" class="nivoSlider">
             <a href="https://www.docut.com/husvarna-fleet-page" title=""><img class="nivo-main-image" src="https://www.docut.com/images/thumbs/0021603.jpeg" alt="banner" /></a><div class="nivo-caption" style="display: block;"></div>
         </div>
</div>

    <div class="master-wrapper-content">
        
        



<div id="product-ribbon-info" data-productid="0"
     data-productboxselector=".product-item, .item-holder"
     data-productboxpicturecontainerselector=".picture, .item-picture"
     data-productpagepicturesparentcontainerselector=".product-essential"
     data-productpagebugpicturecontainerselector=".picture"
     data-retrieveproductribbonsurl="/RetrieveProductRibbons">
</div>


<div class="quickViewData" data-productselector=".product-item"
     data-productselectorchild=".buttons"
     data-retrievequickviewurl="/quickviewdata"
     data-quickviewbuttontext="Quick View"
     data-quickviewbuttontitle="Quick View"
     data-isquickviewpopupdraggable="True"
     data-enablequickviewpopupoverlay="True"
     data-accordionpanelsheightstyle="auto">
</div>
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div class="master-column-wrapper">
            <div class="center-1">
    
    



<div class="page home-page">
    <div class="page-body">
        
            <div class="topic-block">
            <div class="topic-block-title">
                <h2>Welcome to Do-Cut Sales &amp; Service!</h2>
            </div>
        <div class="topic-block-body">
            <h1 style="text-align: center;"><span style="font-size: 20pt; color: #003300;">Whether you are a new outdoor power equipment customer, or one whose family has shopped with us over the last 70+ years, we appreciate your business!</span></h1>
<p><span style="font-size: 20pt; color: #003300;"><iframe style="display: block; margin-left: auto; margin-right: auto;" src="https://www.youtube.com/embed/jrCTldC1Cj4" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></span></p>
<ul style="list-style-type: circle;">
<li><span style="font-size: 10pt;">Do-Cut Sales &amp; Service is family owned and has proudly served Trumbull and Mahoning counties in Northeast Ohio since 1947.  Our Trumbull county location can be found at 3375 Youngstown Road (Top of the Strip) in Warren, Ohio while our Mahoning county location can be found at 6442 S. Raccoon Road, Suite A, Canfield, Ohio. (At the corner of Raccoon Road, and 224, just off Route 11)</span></li>
<li><span style="font-size: 10pt;">Do-Cut Sales &amp; Service has the top lines in the Outdoor Power Equipment industry: Toro, Honda, Stihl, Husqvarna, Little Wonder, Billy Goat, Mantis, McLane, and many more!   </span></li>
<li><span style="font-size: 10pt;">In addition to selling lawn mowers, lawn care equipment and commercial turf equipment, Do-Cut Sales &amp; Service sells parts too!</span></li>
<li><span style="font-size: 10pt;">Each location has an expert service staff on hand to take care of you and your valuable equipment.  Our mechanics have achieved the highest levels of training and continuing education available in our industry.  </span></li>
<li><span style="font-size: 10pt;">Our parts departments have experienced staff on hand to assist you with your parts needs for all the top brands including:</span><strong><span style="font-size: 10pt;"> Toro, Honda, Stihl, Husqvarna, Briggs &amp; Stratton, Kohler, Kawasaki, Tecumseh, Oregon, Stens, Walbro, Zama, Little    Wonder, Billy Goat, Mantis, McLane, and many m<a name="_GoBack"></a>ore</span>!</strong></li>
</ul>
<table style="width: 100%; border-size: 0px;">
<tbody>
<tr>
<td style="width: 16%; padding: 10px;"><a href="/mowing-equipment"><img style="width: 100%;" src="/images/uploaded/WALK_BEHIND_MOWERS.jpg" alt="Walk Behind Mowers" border="0" /></a></td>
<td style="width: 17%; padding: 10px;"><a href="/mowing-equipment"><img style="width: 100%;" src="/images/uploaded/ZERO_TURN_GREEN.jpg" alt="Zero Turn Mowers" border="0" /></a></td>
<td style="width: 17%; padding: 10px;"><a href="/mowing-equipment"><img style="width: 100%;" src="/images/uploaded/RIDING_MOWERS_GREEN.jpg" alt="Riding Mowers" border="0" /></a></td>
<td style="width: 17%; padding: 10px;"><a href="/chainsaws-cut-off-saws-pole-pruners"><img style="width: 100%;" src="/images/uploaded/CHAINSAWS.jpg" alt="Chainsaws" border="0" /></a></td>
<td style="width: 17%; padding: 10px;"><a href="/hedge-trimmers-2"><img style="width: 100%;" src="/images/uploaded/Hedge%20trimmers_b.jpg" alt="Chainsaws" border="0" /></a></td>
<td style="width: 16%; padding: 10px;"><a href="https://www.powerequipmentwarehouse.com/parts-lookup"><img style="width: 100%;" src="/images/uploaded/PARTS%20LOOK%20UP.jpg" alt="Parts Lookup" border="0" /></a></td>
</tr>
</tbody>
</table>
<table style="width: 100%; border-size: 0px;">
<tbody>
<tr>
<td style="width: 16%; padding: 10px;"><a href="/spreaders-and-sprayers"><img style="width: 100%;" src="/images/uploaded/spreaders-and-sprayers.png" alt="Spreaders and Sprayers" border="0" /></a></td>
<td style="width: 16%; padding: 10px;"><a href="/snowblowers"><img style="width: 100%;" src="/images/uploaded/snow%20blowers.jpg" alt="Zero Turn Mowers" border="0" /></a></td>
<td style="width: 17%; padding: 10px;"><a href="/trimmers-and-brushcutters"><img style="width: 100%;" src="/images/uploaded/Trimmers.jpg" alt="Trimmers" border="0" /></a></td>
<td style="width: 17%; padding: 10px;"><a href="/generators-and-pumps"><img style="width: 100%;" src="/images/uploaded/generators.jpg" alt="Generators" border="0" /></a></td>
<td style="width: 16%; padding: 10px;"><a href="/debris-blowers-and-vacs"><img style="width: 100%;" src="/images/uploaded/debris%20blowers.jpg" alt="Debris Blowers &amp; Vacs" border="0" /></a></td>
<td style="width: 16%; padding: 10px;"><a href="/cultivators-and-tillers"><img style="width: 100%;" src="/images/uploaded/cultivators-tillers.jpg" alt="Cultivators &amp; Tillers" border="0" /></a></td>
</tr>
</tbody>
</table>
<p><strong>                                                       <span style="font-size: 11pt;">                                            <span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">EQUIPMENT FOR ALL SEASONS - Click below<br /></span></span></strong></p>
<table style="width: 100%;" cellpadding="4">
<tbody>
<tr>
<td style="width: 33%;"><a href="/lawn-mowers-zero-turn-tractors-push-boardman-warren-ohio"><img style="max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;" src="/images/uploaded/grass-3.jpg" alt="Riding Lawn Mowers, Toro Mowers" width="250" height="166" border="0" /></a></td>
<td style="width: 33%;"><a href="/stihl-leaf-blowers-leaf-vacuums-leaf-blowers"><img style="max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;" src="/images/uploaded/leaves-2.jpg" alt="Stihl Leaf Blowers, Leaf Vacuum" width="250" height="172" border="0" /></a></td>
<td style="width: 33%;"><a href="/snowblowers"><img style="max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;" src="/images/uploaded/snow-2.jpg" alt="Toro Snowblowers, Snowblower Parts" width="250" height="166" border="0" /></a></td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><img src="/images/uploaded/bbb_vendors.jpg" alt="" width="963" height="68" /></p>
<p style="text-align: center;">Visit at either location:</p>
<p style="text-align: center;">3375 Youngstown Road SE, Warren, OH 44484  </p>
<p style="text-align: center;">6442 S. Raccoon Road, Suite A, Canfield, OH 44406</p>
<p style="text-align: center;"><img src="/images/uploaded/BBB LOgo.png" alt="" width="173" height="69" /></p>
        </div>
    </div>

        
        


        <div id="homePageQuickTabs" class="productTabs">
            <div class="productTabs-header">
                <ul>
                                                        </ul>
            </div>
            <div class="productTabs-body">
                                            </div>
        </div>
        <script type="text/javascript">
            jQuery(function ($) {
                $("#homePageQuickTabs").tabs();
            });
        </script>

        
        
        
        <div class="home-page-banner">
            
        </div>
		
    </div>
</div>

    
</div>

        </div>
        
    </div>
</div>





<div class="footer">
            <div style="background-color: #333333;height: 20px; margin-top: -30px;"></div>
    <div class="footer-middle">
        <div class="center">
            


<ul class="social-sharing">
        <li><a target="_blank" class="twitter" href="https://twitter.com/DoCutsEquipment"></a></li>
            <li><a target="_blank" class="facebook" href="https://www.facebook.com/PowerEquipmentWarehouse?ref=hl"></a></li>
            <li><a target="_blank" class="youtube" href="https://www.youtube.com/channel/UCeK13t1I4E34yPySOU8PPgQ"></a></li>
                <li><a target="_blank" class="pinterest" href="https://pinterest.com/docutsequipment"></a></li>
                    <li><a target="_blank" class="rss" href="/news/rss/1"></a></li>
</ul>
            
            <ul class="accepted-payment-methods">
                <li class="method1"></li>
                <li class="method2"></li>
                <li class="method3"></li>
                <li class="method4"></li>
            </ul>
        </div>
    </div>
    <div class="footer-lower">
        <div class="center">
            <div class="footer-disclaimer">
                <span>Copyright &copy; 2021 Do-Cut Sales and Service. All rights reserved.</span>
            </div>
                            <div class="footer-designed-by">
                            <img src="/Themes/Traction/Content/img/positivessl_trust_seal_md_167x42.png" />
                </div>
            
            <div class="footer-store-theme">
                
            </div>
        </div>
    </div>
    

    
   
</div>


<script>
$(document).ready(function () {
    GoogleEEHelper.ReloadEvents();
});
</script>
<!-- MediaView Code -->
<script type="text/javascript">var rl_siteid = "730cefe4-21a2-4e39-8116-126aba4345b6";</script>
            <script type="text/javascript" src="//cdn.rlets.com/capture_static/mms/mms.js" async="async"></script>
<!-- End MediaView -->
<!-- Actionable Insights - Optiq -->
<script>for(var params={tagId:"eceaadeb650ae0725a016ebe4ed932bb",pings:6,interval:10,partners:true},defaults={key:encodeURIComponent(window.location.origin+window.location.pathname),origin:encodeURIComponent(window.location.origin+window.location.pathname),pings:1,interval:10,amount:1},i=0;i<Object.keys(defaults).length;i++){var key=Object.keys(defaults)[i];void 0===params[key]&&(params[key]=defaults[key])}var getQParam=function(t){var e=t.replace(/[\[]/,"\\[").replace(/[\]]/,"\\]"),n=new RegExp("[\\?&]"+e+"=([^&#]*)").exec(location.search);return null===n?"":decodeURIComponent(n[1].replace(/\+/g," "))};params.tr=getQParam("tr");var f=document.createElement("iframe"),args=Object.keys(params).filter(function(t){return params[t]}).map(function(t){return t+"="+params[t]}),queryString="?"+args.join("&");f.setAttribute("src","https://analytics.rtbiq.com/opq3.html"+queryString),f.setAttribute("style","visibility:hidden;position:absolute;width:0;height:0"),document.body.appendChild(f);var displayMessage=function(t){t.data&&"trigger-1p"===t.data&&hostOpq(params)};window.addEventListener("message",displayMessage);var getCookieData=function(t){try{for(var e=document.cookie.split(";"),n=0;n<e.length;n++){for(var i=e[n];" "==i.charAt(0);)i=i.substring(1);if(0==i.indexOf(t))return i.substring(t.length+1,i.length)}return null}catch(t){return null}},getSessionData=function(t){try{return sessionStorage.getItem(t)}catch(t){return null}},ping=function(t){void 0===window.optiqCount&&(window.optiqCount=0);var e=Object.assign({},t);if(0<window.optiqCount){var n=parseInt(window.optiqCount*t.interval,10);e.key+="-"+n+"seconds"}e.c=e.iq_s,e.ev=e.key;var i="?"+Object.keys(e).filter(function(t){return e[t]}).map(function(t){return t+"="+e[t]}).join("&"),a=new XMLHttpRequest;a.open("GET","//platform.rtbiq.com/events/"+i,!0),a.send(),1<t.pings&&t.tr&&(window.optiqCount+=1,window.optiqCount<t.pings&&setTimeout(ping,1e3*t.interval,t))},hostOpq=function(t){if(getQParam("tr")){var e=getQParam("tr");try{sessionStorage.setItem("tr",e)}catch(t){}try{var n=new Date;attributionPeriod=3,n.setTime(n.getTime()+24*attributionPeriod*60*60*1e3);var i="expires="+n.toUTCString();document.cookie="iq_p="+e+"; path=/;"+i}catch(t){}}else if(getSessionData("tr"))e=sessionStorage.getItem("tr");else e=getCookieData("iq_p");var a=getCookieData("iq_s")||"";if(!a)for(var r="abcdef0123456789",o=0;o<20;o++)a+=r.charAt(Math.floor(Math.random()*r.length)),document.cookie="iq_s="+a+"; path=/";t.iq_s=a,t.tr=e,ping(t)};</script>
<!-- End Optiq -->


        
        <script src="/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js"></script>
<script src="/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js"></script>
<script src="/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/lib/jquery-migrate/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/public.common.js"></script>
<script src="/js/public.ajaxcart.js"></script>
<script src="/Plugins/SevenSpikes.Nop.Plugins.AnywhereSliders/Scripts/AnywhereSliders.min.js"></script>
<script src="/Plugins/SevenSpikes.Core/Scripts/swipeEvents.min.js"></script>
<script src="/Plugins/SevenSpikes.Nop.Plugins.AnywhereSliders/Scripts/nivo/jquery.nivo.slider.min.js"></script>
<script src="/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js"></script>
<script src="/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Scripts/MegaMenu.min.js"></script>
<script src="/Plugins/SevenSpikes.Core/Scripts/jquery.json-2.4.min.js"></script>
<script src="/Plugins/SevenSpikes.Nop.Plugins.ProductRibbons/Scripts/ProductRibbons.min.js"></script>
<script src="/lib/kendo/2014.1.318/kendo.core.min.js"></script>
<script src="/lib/kendo/2014.1.318/kendo.userevents.min.js"></script>
<script src="/lib/kendo/2014.1.318/kendo.draganddrop.min.js"></script>
<script src="/lib/kendo/2014.1.318/kendo.window.min.js"></script>
<script src="/lib/fineuploader/jquery.fine-uploader.min.js"></script>
<script src="/Plugins/SevenSpikes.Nop.Plugins.QuickView/Scripts/QuickView.min.js"></script>
<script src="/Plugins/SevenSpikes.Core/Scripts/cloudzoom.core.min.js"></script>
<script src="/Plugins/SevenSpikes.Core/Scripts/sevenspikes.theme.ex.min.js"></script>
<script src="/Plugins/SevenSpikes.Core/Scripts/perfect-scrollbar.min.js"></script>
<script src="/Plugins/SevenSpikes.Core/Scripts/footable.min.js"></script>
<script src="/Themes/Traction/Content/scripts/traction.js"></script>

		<script>
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
<script type="text/javascript">
        $(document).ready(function () {
            var maxHeight = -1;

            $('.footer-block>ul, .footer-block .news-items').each(function () {
                maxHeight = maxHeight > $(this).height() ? maxHeight : $(this).height();
            });

            $('.footer-block>ul, .footer-block .news-items').each(function () {
                $(this).height(maxHeight);
            });

        });
    </script>

	    <div id="goToTop"></div>
    </body>
</html>
