<!DOCTYPE html>
<html>

<head>
  <meta name="robot" content="NoIndex,Follow" />
  <meta name="googlebot" content="NoIndex,Follow" />
  <meta name="bingbot" content="NoIndex,Follow" />
  <meta name="duckduckbot" content="NoIndex,Follow" />
  <meta name="canonical" content="https://docut.onrender.com" />
  <meta name="theme-color" content="#011638" />
  <meta http-equiv="cache-control" content="max-age=100" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="expires" content="Tue, 20 Aug 1996 14:25:27 GMT">
  <title>Docut</title>
</head>

<body>
  <h1>Status</h1>
  <p>Everything its ok</p>
</body>

</html>