@charset "UTF-8";
:root {
  --mariner: #227ac5;
  --congressblue: #07409a;
  --oxfordblue: #011638;
  --azureradiance: #007bff;
  --curiousblue: #2894be;
  --aquaperl: #83B3DB;
  --malibu: #5ac1ff;
  --greenblue: #0a71c6;
  --blueberry: #41a4f5;
  --denim: #3483c4;
  --veniceblue: #085a9f;
  --steelblue: #4682b4;
  --blue: #1805ff;
  --lipstick: #c60a71;
  --elfgreen: #0a8b71;
  --alienarmpit: #71c60a;
  --cornharvest: #8b710a;
  --camarone: #006d07;
  --chateaugreen: #47b44e;
  --olive: #6d6d00;
  --chenin: #dbdb6e;
  --lemon: #ffff36;
  --sunglow: #ffc436;
  --cyan: #36ffff;
  --heliotrope: #c436ff;
  --palecanary: #ffff93;
  --peachorange: #ffc493;
  --freshair: #b2ffff;
  --mauve: #c493ff;
  --heavymetal: #202320;
  --white: #ffffff;
  --stack: #606260;
  --silver: #cacaca;
  --pumpkin: #ff7821;
  --pastelgreeen: #5de34e;
  --redsalsa: #fb3345;
  --corn: #e8ca00;
  --blackrock: #030325;
  --tealblue: #063863;
  --waterleaf: #a3eaea;
  --lightcyan: #e0ffff;
  --yellow: #fff700;
}

.mariner {
  color: #227ac5 !important;
}

.hardgradient-mariner {
  background-color: #227ac5 !important;
  background: linear-gradient(to left top, black, #227ac5);
}

.gradient-mariner {
  background-color: #227ac5 !important;
  background: linear-gradient(to left top, #0b2943, #227ac5);
}

.svgcolor-mariner {
  fill: #227ac5;
  stroke: #227ac5;
}

.congressblue {
  color: #07409a !important;
}

.hardgradient-congressblue {
  background-color: #07409a !important;
  background: linear-gradient(to left top, black, #07409a);
}

.gradient-congressblue {
  background-color: #07409a !important;
  background: linear-gradient(to left top, #000308, #07409a);
}

.svgcolor-congressblue {
  fill: #07409a;
  stroke: #07409a;
}

.oxfordblue {
  color: #011638 !important;
}

.hardgradient-oxfordblue {
  background-color: #011638 !important;
  background: linear-gradient(to left top, black, #011638);
}

.gradient-oxfordblue {
  background-color: #011638 !important;
  background: linear-gradient(to left top, black, #011638);
}

.svgcolor-oxfordblue {
  fill: #011638;
  stroke: #011638;
}

.azureradiance {
  color: #007bff !important;
}

.hardgradient-azureradiance {
  background-color: #007bff !important;
  background: linear-gradient(to left top, black, #007bff);
}

.gradient-azureradiance {
  background-color: #007bff !important;
  background: linear-gradient(to left top, #003166, #007bff);
}

.svgcolor-azureradiance {
  fill: #007bff;
  stroke: #007bff;
}

.curiousblue {
  color: #2894be !important;
}

.hardgradient-curiousblue {
  background-color: #2894be !important;
  background: linear-gradient(to left top, black, #2894be);
}

.gradient-curiousblue {
  background-color: #2894be !important;
  background: linear-gradient(to left top, #0d3240, #2894be);
}

.svgcolor-curiousblue {
  fill: #2894be;
  stroke: #2894be;
}

.aquaperl {
  color: #83B3DB !important;
}

.hardgradient-aquaperl {
  background-color: #83B3DB !important;
  background: linear-gradient(to left top, #102436, #83B3DB);
}

.gradient-aquaperl {
  background-color: #83B3DB !important;
  background: linear-gradient(to left top, #2c6799, #83B3DB);
}

.svgcolor-aquaperl {
  fill: #83B3DB;
  stroke: #83B3DB;
}

.malibu {
  color: #5ac1ff !important;
}

.hardgradient-malibu {
  background-color: #5ac1ff !important;
  background: linear-gradient(to left top, #002841, #5ac1ff);
}

.gradient-malibu {
  background-color: #5ac1ff !important;
  background: linear-gradient(to left top, #0078c0, #5ac1ff);
}

.svgcolor-malibu {
  fill: #5ac1ff;
  stroke: #5ac1ff;
}

.greenblue {
  color: #0a71c6 !important;
}

.hardgradient-greenblue {
  background-color: #0a71c6 !important;
  background: linear-gradient(to left top, black, #0a71c6);
}

.gradient-greenblue {
  background-color: #0a71c6 !important;
  background: linear-gradient(to left top, #031e34, #0a71c6);
}

.svgcolor-greenblue {
  fill: #0a71c6;
  stroke: #0a71c6;
}

.blueberry {
  color: #41a4f5 !important;
}

.hardgradient-blueberry {
  background-color: #41a4f5 !important;
  background: linear-gradient(to left top, #01101c, #41a4f5);
}

.gradient-blueberry {
  background-color: #41a4f5 !important;
  background: linear-gradient(to left top, #085695, #41a4f5);
}

.svgcolor-blueberry {
  fill: #41a4f5;
  stroke: #41a4f5;
}

.denim {
  color: #3483c4 !important;
}

.hardgradient-denim {
  background-color: #3483c4 !important;
  background: linear-gradient(to left top, black, #3483c4);
}

.gradient-denim {
  background-color: #3483c4 !important;
  background: linear-gradient(to left top, #14324b, #3483c4);
}

.svgcolor-denim {
  fill: #3483c4;
  stroke: #3483c4;
}

.veniceblue {
  color: #085a9f !important;
}

.hardgradient-veniceblue {
  background-color: #085a9f !important;
  background: linear-gradient(to left top, black, #085a9f);
}

.gradient-veniceblue {
  background-color: #085a9f !important;
  background: linear-gradient(to left top, #01080d, #085a9f);
}

.svgcolor-veniceblue {
  fill: #085a9f;
  stroke: #085a9f;
}

.steelblue {
  color: #4682b4 !important;
}

.hardgradient-steelblue {
  background-color: #4682b4 !important;
  background: linear-gradient(to left top, black, #4682b4);
}

.gradient-steelblue {
  background-color: #4682b4 !important;
  background: linear-gradient(to left top, #1b3246, #4682b4);
}

.svgcolor-steelblue {
  fill: #4682b4;
  stroke: #4682b4;
}

.blue {
  color: #1805ff !important;
}

.hardgradient-blue {
  background-color: #1805ff !important;
  background: linear-gradient(to left top, black, #1805ff);
}

.gradient-blue {
  background-color: #1805ff !important;
  background: linear-gradient(to left top, #08006b, #1805ff);
}

.svgcolor-blue {
  fill: #1805ff;
  stroke: #1805ff;
}

.lipstick {
  color: #c60a71 !important;
}

.hardgradient-lipstick {
  background-color: #c60a71 !important;
  background: linear-gradient(to left top, black, #c60a71);
}

.gradient-lipstick {
  background-color: #c60a71 !important;
  background: linear-gradient(to left top, #34031e, #c60a71);
}

.svgcolor-lipstick {
  fill: #c60a71;
  stroke: #c60a71;
}

.elfgreen {
  color: #0a8b71 !important;
}

.hardgradient-elfgreen {
  background-color: #0a8b71 !important;
  background: linear-gradient(to left top, black, #0a8b71);
}

.gradient-elfgreen {
  background-color: #0a8b71 !important;
  background: linear-gradient(to left top, black, #0a8b71);
}

.svgcolor-elfgreen {
  fill: #0a8b71;
  stroke: #0a8b71;
}

.alienarmpit {
  color: #71c60a !important;
}

.hardgradient-alienarmpit {
  background-color: #71c60a !important;
  background: linear-gradient(to left top, black, #71c60a);
}

.gradient-alienarmpit {
  background-color: #71c60a !important;
  background: linear-gradient(to left top, #1e3403, #71c60a);
}

.svgcolor-alienarmpit {
  fill: #71c60a;
  stroke: #71c60a;
}

.cornharvest {
  color: #8b710a !important;
}

.hardgradient-cornharvest {
  background-color: #8b710a !important;
  background: linear-gradient(to left top, black, #8b710a);
}

.gradient-cornharvest {
  background-color: #8b710a !important;
  background: linear-gradient(to left top, black, #8b710a);
}

.svgcolor-cornharvest {
  fill: #8b710a;
  stroke: #8b710a;
}

.camarone {
  color: #006d07 !important;
}

.hardgradient-camarone {
  background-color: #006d07 !important;
  background: linear-gradient(to left top, black, #006d07);
}

.gradient-camarone {
  background-color: #006d07 !important;
  background: linear-gradient(to left top, black, #006d07);
}

.svgcolor-camarone {
  fill: #006d07;
  stroke: #006d07;
}

.chateaugreen {
  color: #47b44e !important;
}

.hardgradient-chateaugreen {
  background-color: #47b44e !important;
  background: linear-gradient(to left top, black, #47b44e);
}

.gradient-chateaugreen {
  background-color: #47b44e !important;
  background: linear-gradient(to left top, #1c461e, #47b44e);
}

.svgcolor-chateaugreen {
  fill: #47b44e;
  stroke: #47b44e;
}

.olive {
  color: #6d6d00 !important;
}

.hardgradient-olive {
  background-color: #6d6d00 !important;
  background: linear-gradient(to left top, black, #6d6d00);
}

.gradient-olive {
  background-color: #6d6d00 !important;
  background: linear-gradient(to left top, black, #6d6d00);
}

.svgcolor-olive {
  fill: #6d6d00;
  stroke: #6d6d00;
}

.chenin {
  color: #dbdb6e !important;
}

.hardgradient-chenin {
  background-color: #dbdb6e !important;
  background: linear-gradient(to left top, #27270a, #dbdb6e);
}

.gradient-chenin {
  background-color: #dbdb6e !important;
  background: linear-gradient(to left top, #8d8d23, #dbdb6e);
}

.svgcolor-chenin {
  fill: #dbdb6e;
  stroke: #dbdb6e;
}

.lemon {
  color: #ffff36 !important;
}

.hardgradient-lemon {
  background-color: #ffff36 !important;
  background: linear-gradient(to left top, #1d1d00, #ffff36);
}

.gradient-lemon {
  background-color: #ffff36 !important;
  background: linear-gradient(to left top, #9c9c00, #ffff36);
}

.svgcolor-lemon {
  fill: #ffff36;
  stroke: #ffff36;
}

.sunglow {
  color: #ffc436 !important;
}

.hardgradient-sunglow {
  background-color: #ffc436 !important;
  background: linear-gradient(to left top, #1d1400, #ffc436);
}

.gradient-sunglow {
  background-color: #ffc436 !important;
  background: linear-gradient(to left top, #9c6e00, #ffc436);
}

.svgcolor-sunglow {
  fill: #ffc436;
  stroke: #ffc436;
}

.cyan {
  color: #36ffff !important;
}

.hardgradient-cyan {
  background-color: #36ffff !important;
  background: linear-gradient(to left top, #001d1d, #36ffff);
}

.gradient-cyan {
  background-color: #36ffff !important;
  background: linear-gradient(to left top, #009c9c, #36ffff);
}

.svgcolor-cyan {
  fill: #36ffff;
  stroke: #36ffff;
}

.heliotrope {
  color: #c436ff !important;
}

.hardgradient-heliotrope {
  background-color: #c436ff !important;
  background: linear-gradient(to left top, #14001d, #c436ff);
}

.gradient-heliotrope {
  background-color: #c436ff !important;
  background: linear-gradient(to left top, #6e009c, #c436ff);
}

.svgcolor-heliotrope {
  fill: #c436ff;
  stroke: #c436ff;
}

.palecanary {
  color: #ffff93 !important;
}

.hardgradient-palecanary {
  background-color: #ffff93 !important;
  background: linear-gradient(to left top, #7a7a00, #ffff93);
}

.gradient-palecanary {
  background-color: #ffff93 !important;
  background: linear-gradient(to left top, #f9f900, #ffff93);
}

.svgcolor-palecanary {
  fill: #ffff93;
  stroke: #ffff93;
}

.peachorange {
  color: #ffc493 !important;
}

.hardgradient-peachorange {
  background-color: #ffc493 !important;
  background: linear-gradient(to left top, #7a3700, #ffc493);
}

.gradient-peachorange {
  background-color: #ffc493 !important;
  background: linear-gradient(to left top, #f97100, #ffc493);
}

.svgcolor-peachorange {
  fill: #ffc493;
  stroke: #ffc493;
}

.freshair {
  color: #b2ffff !important;
}

.hardgradient-freshair {
  background-color: #b2ffff !important;
  background: linear-gradient(to left top, #009999, #b2ffff);
}

.gradient-freshair {
  background-color: #b2ffff !important;
  background: linear-gradient(to left top, #19ffff, #b2ffff);
}

.svgcolor-freshair {
  fill: #b2ffff;
  stroke: #b2ffff;
}

.mauve {
  color: #c493ff !important;
}

.hardgradient-mauve {
  background-color: #c493ff !important;
  background: linear-gradient(to left top, #37007a, #c493ff);
}

.gradient-mauve {
  background-color: #c493ff !important;
  background: linear-gradient(to left top, #7100f9, #c493ff);
}

.svgcolor-mauve {
  fill: #c493ff;
  stroke: #c493ff;
}

.heavymetal {
  color: #202320 !important;
}

.hardgradient-heavymetal {
  background-color: #202320 !important;
  background: linear-gradient(to left top, black, #202320);
}

.gradient-heavymetal {
  background-color: #202320 !important;
  background: linear-gradient(to left top, black, #202320);
}

.svgcolor-heavymetal {
  fill: #202320;
  stroke: #202320;
}

.white {
  color: #ffffff !important;
}

.hardgradient-white {
  background-color: #ffffff !important;
  background: linear-gradient(to left top, #737373, #ffffff);
}

.gradient-white {
  background-color: #ffffff !important;
  background: linear-gradient(to left top, #b3b3b3, #ffffff);
}

.svgcolor-white {
  fill: #ffffff;
  stroke: #ffffff;
}

.stack {
  color: #606260 !important;
}

.hardgradient-stack {
  background-color: #606260 !important;
  background: linear-gradient(to left top, black, #606260);
}

.gradient-stack {
  background-color: #606260 !important;
  background: linear-gradient(to left top, #141514, #606260);
}

.svgcolor-stack {
  fill: #606260;
  stroke: #606260;
}

.silver {
  color: #cacaca !important;
}

.hardgradient-silver {
  background-color: #cacaca !important;
  background: linear-gradient(to left top, #3e3e3e, #cacaca);
}

.gradient-silver {
  background-color: #cacaca !important;
  background: linear-gradient(to left top, #7e7e7e, #cacaca);
}

.svgcolor-silver {
  fill: #cacaca;
  stroke: #cacaca;
}

.pumpkin {
  color: #ff7821 !important;
}

.hardgradient-pumpkin {
  background-color: #ff7821 !important;
  background: linear-gradient(to left top, #080300, #ff7821);
}

.gradient-pumpkin {
  background-color: #ff7821 !important;
  background: linear-gradient(to left top, #873500, #ff7821);
}

.svgcolor-pumpkin {
  fill: #ff7821;
  stroke: #ff7821;
}

.pastelgreeen {
  color: #5de34e !important;
}

.hardgradient-pastelgreeen {
  background-color: #5de34e !important;
  background: linear-gradient(to left top, #051503, #5de34e);
}

.gradient-pastelgreeen {
  background-color: #5de34e !important;
  background: linear-gradient(to left top, #208315, #5de34e);
}

.svgcolor-pastelgreeen {
  fill: #5de34e;
  stroke: #5de34e;
}

.redsalsa {
  color: #fb3345 !important;
}

.hardgradient-redsalsa {
  background-color: #fb3345 !important;
  background: linear-gradient(to left top, #150002, #fb3345);
}

.gradient-redsalsa {
  background-color: #fb3345 !important;
  background: linear-gradient(to left top, #920310, #fb3345);
}

.svgcolor-redsalsa {
  fill: #fb3345;
  stroke: #fb3345;
}

.corn {
  color: #e8ca00 !important;
}

.hardgradient-corn {
  background-color: #e8ca00 !important;
  background: linear-gradient(to left top, black, #e8ca00);
}

.gradient-corn {
  background-color: #e8ca00 !important;
  background: linear-gradient(to left top, #4f4500, #e8ca00);
}

.svgcolor-corn {
  fill: #e8ca00;
  stroke: #e8ca00;
}

.blackrock {
  color: #030325 !important;
}

.hardgradient-blackrock {
  background-color: #030325 !important;
  background: linear-gradient(to left top, black, #030325);
}

.gradient-blackrock {
  background-color: #030325 !important;
  background: linear-gradient(to left top, black, #030325);
}

.svgcolor-blackrock {
  fill: #030325;
  stroke: #030325;
}

.tealblue {
  color: #063863 !important;
}

.hardgradient-tealblue {
  background-color: #063863 !important;
  background: linear-gradient(to left top, black, #063863);
}

.gradient-tealblue {
  background-color: #063863 !important;
  background: linear-gradient(to left top, black, #063863);
}

.svgcolor-tealblue {
  fill: #063863;
  stroke: #063863;
}

.waterleaf {
  color: #a3eaea !important;
}

.hardgradient-waterleaf {
  background-color: #a3eaea !important;
  background: linear-gradient(to left top, #165f5f, #a3eaea);
}

.gradient-waterleaf {
  background-color: #a3eaea !important;
  background: linear-gradient(to left top, #2dc7c7, #a3eaea);
}

.svgcolor-waterleaf {
  fill: #a3eaea;
  stroke: #a3eaea;
}

.lightcyan {
  color: #e0ffff !important;
}

.hardgradient-lightcyan {
  background-color: #e0ffff !important;
  background: linear-gradient(to left top, #00c7c7, #e0ffff);
}

.gradient-lightcyan {
  background-color: #e0ffff !important;
  background: linear-gradient(to left top, #47ffff, #e0ffff);
}

.svgcolor-lightcyan {
  fill: #e0ffff;
  stroke: #e0ffff;
}

.yellow {
  color: #fff700 !important;
}

.hardgradient-yellow {
  background-color: #fff700 !important;
  background: linear-gradient(to left top, black, #fff700);
}

.gradient-yellow {
  background-color: #fff700 !important;
  background: linear-gradient(to left top, #666300, #fff700);
}

.svgcolor-yellow {
  fill: #fff700;
  stroke: #fff700;
}

/*~~~~~~~~~~<< Overrides bootstrap ~~*/
.shadow-ondark {
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.175) !important;
}

.reset-color a {
  color: inherit;
  background-color: inherit;
}
.reset-color a:hover {
  color: inherit;
  background-color: inherit;
}
.reset-color a:hover::after {
  color: inherit;
  background-color: inherit;
}
.reset-color a:visited {
  color: inherit;
  background-color: inherit;
}
.reset-color a::after {
  color: inherit;
  background-color: inherit;
}

.whitening {
  filter: grayscale(100%) brightness(5.5);
}

.saturate {
  filter: saturate(3);
}

.grayscale {
  filter: grayscale(100%);
}

.contrast {
  filter: contrast(160%);
}

.brightness {
  filter: brightness(0.25);
}

.invert {
  filter: invert(100%);
}

.sepia {
  filter: sepia(100%);
}

.huerotate {
  filter: hue-rotate(180deg);
}

.rss.opacity {
  filter: opacity(50%);
}

.blur {
  filter: blur(6px);
}
@supports (-webkit-filter: blur(8px)) {
  .blur {
    -webkit-filter: blur(6px);
  }
}

.theme-bg-heavymetal {
  background: #202320 !important;
  color: inherit;
  color: #ffffff !important;
}
.theme-bg-heavymetal em {
  color: #dbdb6e !important;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.theme-bg-heavymetal .disabled, .theme-bg-heavymetal [disabled|=""] {
  color: #606260 !important;
}
.theme-bg-heavymetal a:not([class^=btn]), .theme-bg-heavymetal a:not([class^=btn]):visited {
  color: inherit;
  color: #cacaca;
}
.theme-bg-heavymetal a:not([class^=btn]):hover {
  color: #b2ffff;
}
.theme-bg-heavymetal a:not([class^=btn]).active {
  color: #ffffff;
  position: relative;
}
.theme-bg-heavymetal a:not([class^=btn]).active:hover {
  color: #b2ffff;
  position: relative;
}
.theme-bg-heavymetal > ul li > a:hover {
  color: #b2ffff !important;
  border-radius: 8%;
}
@media (min-width: 651px) {
  .theme-bg-heavymetal > ul li > a:hover {
    color: inherit;
  }
}
.theme-bg-heavymetal > ul.show {
  list-style: none;
}
.theme-bg-heavymetal > ul.show li::before {
  content: "•";
  color: #ffffff !important;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
@media (min-width: 900px) {
  nav .theme-bg-heavymetal > a.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  @supports (text-underline-offset: 14px) {
    nav .theme-bg-heavymetal > a.active {
      text-underline-offset: 14px;
    }
  }
}
@media (min-width: 900px) {
  nav .theme-bg-heavymetal > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  @supports (text-underline-offset: 14px) {
    nav .theme-bg-heavymetal > a:hover {
      text-underline-offset: 14px;
    }
  }
}

.theme-bg-white {
  background: #ffffff !important;
  color: inherit;
  color: #202320 !important;
}
.theme-bg-white em {
  color: #8b710a !important;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.theme-bg-white .disabled, .theme-bg-white [disabled|=""] {
  color: #606260 !important;
}
.theme-bg-white a:not([class^=btn]), .theme-bg-white a:not([class^=btn]):visited {
  color: inherit;
  color: #007bff;
}
.theme-bg-white a:not([class^=btn]):hover {
  color: #07409a;
}
.theme-bg-white a:not([class^=btn]).active {
  color: #202320;
  position: relative;
}
.theme-bg-white a:not([class^=btn]).active:hover {
  color: #07409a;
  position: relative;
}
.theme-bg-white > ul li > a:hover {
  color: #07409a !important;
  border-radius: 8%;
}
@media (min-width: 651px) {
  .theme-bg-white > ul li > a:hover {
    color: inherit;
  }
}
.theme-bg-white > ul.show {
  list-style: none;
}
.theme-bg-white > ul.show li::before {
  content: "•";
  color: #202320 !important;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
@media (min-width: 900px) {
  nav .theme-bg-white > a.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  @supports (text-underline-offset: 14px) {
    nav .theme-bg-white > a.active {
      text-underline-offset: 14px;
    }
  }
}
@media (min-width: 900px) {
  nav .theme-bg-white > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  @supports (text-underline-offset: 14px) {
    nav .theme-bg-white > a:hover {
      text-underline-offset: 14px;
    }
  }
}

.theme-bg-silver {
  background: #cacaca !important;
  color: inherit;
  color: #202320 !important;
}
.theme-bg-silver em {
  color: #dbdb6e !important;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.theme-bg-silver .disabled, .theme-bg-silver [disabled|=""] {
  color: #606260 !important;
}
.theme-bg-silver a:not([class^=btn]), .theme-bg-silver a:not([class^=btn]):visited {
  color: inherit;
  color: #a3eaea;
}
.theme-bg-silver a:not([class^=btn]):hover {
  color: #b2ffff;
}
.theme-bg-silver a:not([class^=btn]).active {
  color: #202320;
  position: relative;
}
.theme-bg-silver a:not([class^=btn]).active:hover {
  color: #b2ffff;
  position: relative;
}
.theme-bg-silver > ul li > a:hover {
  color: #b2ffff !important;
  border-radius: 8%;
}
@media (min-width: 651px) {
  .theme-bg-silver > ul li > a:hover {
    color: inherit;
  }
}
.theme-bg-silver > ul.show {
  list-style: none;
}
.theme-bg-silver > ul.show li::before {
  content: "•";
  color: #202320 !important;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
@media (min-width: 900px) {
  nav .theme-bg-silver > a.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  @supports (text-underline-offset: 14px) {
    nav .theme-bg-silver > a.active {
      text-underline-offset: 14px;
    }
  }
}
@media (min-width: 900px) {
  nav .theme-bg-silver > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  @supports (text-underline-offset: 14px) {
    nav .theme-bg-silver > a:hover {
      text-underline-offset: 14px;
    }
  }
}

.theme-bg-lipstick {
  background: #c60a71 !important;
  color: inherit;
  color: #ffffff !important;
}
.theme-bg-lipstick em {
  color: #dbdb6e !important;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.theme-bg-lipstick .disabled, .theme-bg-lipstick [disabled|=""] {
  color: #606260 !important;
}
.theme-bg-lipstick a:not([class^=btn]), .theme-bg-lipstick a:not([class^=btn]):visited {
  color: inherit;
  color: #a3eaea;
}
.theme-bg-lipstick a:not([class^=btn]):hover {
  color: #e8ca00;
}
.theme-bg-lipstick a:not([class^=btn]).active {
  color: #ffffff;
  position: relative;
}
.theme-bg-lipstick a:not([class^=btn]).active:hover {
  color: #e8ca00;
  position: relative;
}
.theme-bg-lipstick > ul li > a:hover {
  color: #e8ca00 !important;
  border-radius: 8%;
}
@media (min-width: 651px) {
  .theme-bg-lipstick > ul li > a:hover {
    color: inherit;
  }
}
.theme-bg-lipstick > ul.show {
  list-style: none;
}
.theme-bg-lipstick > ul.show li::before {
  content: "•";
  color: #ffffff !important;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
@media (min-width: 900px) {
  nav .theme-bg-lipstick > a.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  @supports (text-underline-offset: 14px) {
    nav .theme-bg-lipstick > a.active {
      text-underline-offset: 14px;
    }
  }
}
@media (min-width: 900px) {
  nav .theme-bg-lipstick > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  @supports (text-underline-offset: 14px) {
    nav .theme-bg-lipstick > a:hover {
      text-underline-offset: 14px;
    }
  }
}

.theme-bg-congressblue {
  background: #07409a !important;
  color: inherit;
  color: #ffffff !important;
}
.theme-bg-congressblue em {
  color: #fff700 !important;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.theme-bg-congressblue .disabled, .theme-bg-congressblue [disabled|=""] {
  color: #606260 !important;
}
.theme-bg-congressblue a:not([class^=btn]), .theme-bg-congressblue a:not([class^=btn]):visited {
  color: inherit;
  color: #a3eaea;
}
.theme-bg-congressblue a:not([class^=btn]):hover {
  color: #e0ffff;
}
.theme-bg-congressblue a:not([class^=btn]).active {
  color: #ffffff;
  position: relative;
}
.theme-bg-congressblue a:not([class^=btn]).active:hover {
  color: #e0ffff;
  position: relative;
}
.theme-bg-congressblue > ul li > a:hover {
  color: #e0ffff !important;
  border-radius: 8%;
}
@media (min-width: 651px) {
  .theme-bg-congressblue > ul li > a:hover {
    color: inherit;
  }
}
.theme-bg-congressblue > ul.show {
  list-style: none;
}
.theme-bg-congressblue > ul.show li::before {
  content: "•";
  color: #ffffff !important;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
@media (min-width: 900px) {
  nav .theme-bg-congressblue > a.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  @supports (text-underline-offset: 14px) {
    nav .theme-bg-congressblue > a.active {
      text-underline-offset: 14px;
    }
  }
}
@media (min-width: 900px) {
  nav .theme-bg-congressblue > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  @supports (text-underline-offset: 14px) {
    nav .theme-bg-congressblue > a:hover {
      text-underline-offset: 14px;
    }
  }
}

.theme-bg-mariner {
  background: #227ac5 !important;
  color: inherit;
  color: #ffffff !important;
}
.theme-bg-mariner em {
  color: #fff700 !important;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.theme-bg-mariner .disabled, .theme-bg-mariner [disabled|=""] {
  color: #606260 !important;
}
.theme-bg-mariner a:not([class^=btn]), .theme-bg-mariner a:not([class^=btn]):visited {
  color: inherit;
  color: #ffff36;
}
.theme-bg-mariner a:not([class^=btn]):hover {
  color: #e0ffff;
}
.theme-bg-mariner a:not([class^=btn]).active {
  color: #ffffff;
  position: relative;
}
.theme-bg-mariner a:not([class^=btn]).active:hover {
  color: #e0ffff;
  position: relative;
}
.theme-bg-mariner > ul li > a:hover {
  color: #e0ffff !important;
  border-radius: 8%;
}
@media (min-width: 651px) {
  .theme-bg-mariner > ul li > a:hover {
    color: inherit;
  }
}
.theme-bg-mariner > ul.show {
  list-style: none;
}
.theme-bg-mariner > ul.show li::before {
  content: "•";
  color: #ffffff !important;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
@media (min-width: 900px) {
  nav .theme-bg-mariner > a.active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  @supports (text-underline-offset: 14px) {
    nav .theme-bg-mariner > a.active {
      text-underline-offset: 14px;
    }
  }
}
@media (min-width: 900px) {
  nav .theme-bg-mariner > a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
  @supports (text-underline-offset: 14px) {
    nav .theme-bg-mariner > a:hover {
      text-underline-offset: 14px;
    }
  }
}

.nodecoration {
  text-decoration: none !important;
}

.text-icons {
  font-size: 1.5rem;
  line-height: 1em;
}

.text-small {
  font-size: 0.7rem;
  line-height: 1em;
}

.text-normal {
  font-size: 1rem;
  line-height: 1em;
}

.text-relevant {
  font-size: 1.2rem;
  line-height: 1.2em;
}

.text-big {
  font-size: 1.4rem;
  line-height: 1.4em;
}

.text-bigger {
  font-size: 1.9rem;
  line-height: 1.6em;
}

.text-huge {
  font-size: 2.5rem;
  line-height: 1.8em;
}

.fspace-normal {
  letter-spacing: 0.1em;
}

.fspace-medium {
  letter-spacing: 0.3em;
}

.fspace-high {
  letter-spacing: 0.6em;
}

.social-list a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.social-list a {
  width: 36px;
  height: 36px;
  padding-top: 7px;
  display: inline-block;
  text-align: center;
  border-radius: 50% !important;
  transition: all 0.4s ease-in-out;
}

.img-x {
  width: 100% !important;
  height: auto !important;
}
.img-y {
  width: auto !important;
  height: 100% !important;
}
.img-full {
  width: 100% !important;
  height: 100% !important;
}

.rounded-small {
  border-radius: 0.4em;
}

.rounded-normal {
  border-radius: 0.7em;
}

.rounded-big {
  border-radius: 1em;
}

.maxlines-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-8 {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-9 {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-10 {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-11 {
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-12 {
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-13 {
  display: -webkit-box;
  -webkit-line-clamp: 13;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-14 {
  display: -webkit-box;
  -webkit-line-clamp: 14;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-15 {
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-16 {
  display: -webkit-box;
  -webkit-line-clamp: 16;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-17 {
  display: -webkit-box;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-18 {
  display: -webkit-box;
  -webkit-line-clamp: 18;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-19 {
  display: -webkit-box;
  -webkit-line-clamp: 19;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.maxlines-20 {
  display: -webkit-box;
  -webkit-line-clamp: 20;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

/** Social icons
***********************************************/
.socialicons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialicons .icon {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 1.8em;
  height: 1.8em;
  margin: 0 0.1em;
  text-align: center;
  line-height: 1em;
  font-size: 1.5em;
  text-decoration: none;
  color: var(--mariner) !important;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background: transparent;
}

.socialicons a:hover::after {
  content: "";
  width: 1.8em;
  height: 1.8em;
  z-index: -1;
  position: absolute;
  bottom: -10em;
  left: 0;
  transition: color 0.2s;
  -webkit-animation: abg-icon 0.4s ease forwards;
          animation: abg-icon 0.4s ease forwards;
}

.socialicons .icon:hover {
  color: #fff !important;
  z-index: 0;
  box-shadow: 0 0 1px 4px rgba(0, 0, 0, 0.15);
}

@-webkit-keyframes abg-icon {
  0% {
    background: var(--mariner);
  }
  50% {
    bottom: -0.5em;
  }
  100% {
    background: linear-gradient(to bottom, var(--malibu), var(--mariner));
    color: white;
    bottom: 0;
  }
}

@keyframes abg-icon {
  0% {
    background: var(--mariner);
  }
  50% {
    bottom: -0.5em;
  }
  100% {
    background: linear-gradient(to bottom, var(--malibu), var(--mariner));
    color: white;
    bottom: 0;
  }
}
nav {
  height: 50px;
}

[hidden] {
  visibility: hidden;
}

.navbar .dropdown-item:focus, .dropdown-item:hover {
  background-color: inherit !important;
}

.hidden {
  visibility: hidden;
}
.hidden-no {
  visibility: visible;
}
@media (min-width: 651px) {
  .hidden-sm {
    visibility: hidden;
  }
}
@media (max-width: 650px) {
  .hidden-sm-no {
    visibility: visible;
  }
}

.display {
  display: inline;
}
@media (min-width: 651px) {
  .display-sm {
    display: inline;
  }
}
.display-no {
  display: none;
}
@media (min-width: 651px) {
  .display-sm-no {
    display: none;
  }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: white !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif, "Helvetica Neue", Arial;
  font-size: 10pt;
  font-weight: normal;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: var(--mariner) url("/images/dark-night.jpg") no-repeat fixed center;
  background-size: cover;
  color: white;
}
@supports (background-attachment: fixed) {
  html,
body {
    background-attachment: fixed;
  }
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 40%;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 0.4em rgba(0, 0, 0, 0.3);
  background-color: var(--redsalsa);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4552cc;
}

a {
  text-decoration: none;
}

.full {
  width: 100%;
  height: 100%;
}

.box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box img {
  width: 100%;
}
.box svg {
  width: 100%;
  height: 100%;
}

.box-4 {
  width: 4px;
  height: 4px;
}
.box-8 {
  width: 8px;
  height: 8px;
}
.box-12 {
  width: 12px;
  height: 12px;
}
.box-16 {
  width: 16px;
  height: 16px;
}
.box-20 {
  width: 20px;
  height: 20px;
}
.box-24 {
  width: 24px;
  height: 24px;
}
.box-28 {
  width: 28px;
  height: 28px;
}
.box-32 {
  width: 32px;
  height: 32px;
}
.box-48 {
  width: 48px;
  height: 48px;
}
.box-64 {
  width: 64px;
  height: 64px;
}
.box-75 {
  width: 75px;
  height: 75px;
}
.box-100 {
  width: 100px;
  height: 100px;
}
.box-128 {
  width: 128px;
  height: 128px;
}
.box-150 {
  width: 150px;
  height: 150px;
}
.box-170 {
  width: 170px;
  height: 170px;
}
.box-200 {
  width: 200px;
  height: 200px;
}
.box-256 {
  width: 256px;
  height: 256px;
}
.box-512 {
  width: 512px;
  height: 512px;
}

.w-4 {
  width: 4px;
}

.w-8 {
  width: 8px;
}

.w-12 {
  width: 12px;
}

.w-16 {
  width: 16px;
}

.w-20 {
  width: 20px;
}

.w-24 {
  width: 24px;
}

.w-28 {
  width: 28px;
}

.w-32 {
  width: 32px;
}

.w-48 {
  width: 48px;
}

.w-64 {
  width: 64px;
}

.w-75 {
  width: 75px;
}

.w-100 {
  width: 100px;
}

.w-128 {
  width: 128px;
}

.w-150 {
  width: 150px;
}

.w-170 {
  width: 170px;
}

.w-200 {
  width: 200px;
}

.w-256 {
  width: 256px;
}

.w-512 {
  width: 512px;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.flex {
  display: inherit;
  display: flex !important;
  flex-flow: row wrap;
}
.flex .wrap {
  flex-wrap: wrap;
}
.flex .nowrap {
  flex-wrap: nowrap;
}
.flex-col {
  display: flex !important;
  flex-flow: column wrap;
}
.flex-col-start {
  display: flex !important;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-col-mid {
  display: inherit;
  display: flex !important;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.flex-col-end {
  display: flex !important;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-end;
}
.flex-row {
  display: flex !important;
  flex-flow: column wrap;
}
.flex-row-start {
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-row-mid {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.flex-row-end {
  display: flex !important;
  justify-content: flex-end;
  align-items: flex-end;
}

.flexme-grow-1 {
  flex-grow: 1;
}
.flexme-shrink-1 {
  flex-shrink: 1;
}
.flexme-grow-2 {
  flex-grow: 2;
}
.flexme-shrink-2 {
  flex-shrink: 2;
}
.flexme-grow-3 {
  flex-grow: 3;
}
.flexme-shrink-3 {
  flex-shrink: 3;
}
.flexme-grow-4 {
  flex-grow: 4;
}
.flexme-shrink-4 {
  flex-shrink: 4;
}
.flexme-start {
  align-self: flex-start;
  justify-content: flex-start;
}
.flexme-mid {
  align-self: center;
  justify-content: center;
}
.flexme-end {
  align-self: flex-end;
  justify-content: flex-end;
}

.noflex {
  display: inherit;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.fix-top {
  padding-top: 50px;
}

.autohide {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

.box-128-centered {
  position: absolute;
  top: calc(50% - 20px - 128px);
  left: calc(50% - 128px);
}

.sticky-mid {
  position: absolute;
  right: 8px;
  bottom: calc(50% - 24px);
}
@media (max-width: 650px) {
  .sticky-mid {
    right: 0;
    bottom: inherit;
    top: 5px;
  }
}

.badge {
  font-weight: 300 !important;
}/*# sourceMappingURL=base.css.map */


